<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="/bagong">八宫</a></li>
    <li><a ng-href="/bazi">八字</a></li>
    <li><a ng-href="/zhanbu">占卜</a></li>
    <li class="active"><a ng-href="/fengshui">风水</a></li>
    <li><a ng-href="/calendar">万年历</a></li>
    <li><a ng-href="/tools">工具</a></li>
  </ul>
  <h3 class="text-muted">易经风水</h3>
</div>

<div class="jumbotron">
    <h3>请用罗盘或指南针测量朝向的角度:</h3>
    <input class="input-lg" type="number" id="input-degree" ng-model="degree"></input>
    <button type="submit" class="btn btn-primary" ng-click="feixing()">飞星</button>
    <h3>{{yun}}运 {{shan}}山{{xiang}}向</h3>
    <div id="feixing"></div>
</div>

<div class="footer">
  <p>&copy; Yao Long</p>
</div>