<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">易经风水</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ng-href="/bagong">八宫</a></li>
        <li><a ng-href="/bazi">八字</a></li>
        <li class="active"><a ng-href="/zhanbu">占卜</a></li>
        <li><a ng-href="/fengshui">风水</a></li>
        <li><a ng-href="/calendar">万年历</a></li>
        <li><a ng-href="/tools">工具</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="jumbotron">
    <h3>取三枚大小一致的铜钱，心中默想所求之事，连掷六次，记录下正反:</h3>
	<ol>
		<li ng-repeat="yao in liuyao">
		<input id="gua" type="range" class="input-small" min="0" max="3" ng-model="yao.up">
		<output for="gua">{{yao.up}}正{{3 - yao.up}}反</output>
		</li>
	</ol>
	<button class="btn btn-large btn-primary" ng-click="getZhanBu()">排卦</button>
	<div id="guaxiang">
        <table class="table table-bordered">
        <thead>
        <tr>
              <td><h2>四柱</h2></td>
              <td><h2>{{sizhu.bz_jn}}年 {{sizhu.bz_jy}}月 {{sizhu.bz_jr}}日 {{sizhu.bz_js}}时</h2></td>
        </tr>
        </thead>
              <tbody>
                    <tr>
                          <td><h2>卦名</h2></td>
                          <td><h2>{{up_symbol}}{{low_symbol}}{{hexagram_symbol}} {{gong_name}}宫 属{{wuxing}}</h2></td>
                    </tr>
                    <tr>
                          <td><h2>卦象</h2></td>
                          <td><div id="gua-zhanbu"></div></td>
                    </tr>
              </tbody>
        </table>
    </div>
</div>

<div class="footer">
  <p>&copy; Yao Long</p>
</div>