<div class="hero-unit">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td align="center" width="10%">八宫</td>
            <td align="center" width="10%">六冲卦</td>
            <td align="center" width="10%">动初爻</td>
            <td align="center" width="10%">动二爻</td>
            <td align="center" width="10%">动三爻</td>
            <td align="center" width="10%">动四爻</td>
            <td align="center" width="10%">动五爻</td>
            <td align="center" width="10%">游魂卦</td>
            <td align="center" width="10%">归魂卦</td>
        </tr>
        {{#each bagong}}
            <tr>
                <td align="center" width="10%"><h1>{{this.gong}}</h1></td>
                {{#each gua}}
                <td align="center" width="10%"><h1>{{this}}</h1></td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>