<div class="hero-unit">
      <select>
      <option>公历</option>
      <option>农历</option>
      </select>
      <br>
      <span class="add-on">时间</span>
      <input class="input-medium" type="date" id="input-date">
      <input class="input-medium" type="time" id="input-time">
      <button class="btn btn-primary" id="getCurtime">此时</button>
      <br>
      <span class="add-on">经度</span>
      <input class="input-medium" type="number" id="input-longitude">
      <span class="add-on">纬度</span>
      <input class="input-medium" type="number" id="input-latitude">
      <button class="btn btn-primary" id="getCurlocation">此地</button>
      

      <div>
      <button class="btn btn-large btn-primary" id="getBazi">排卦</button>
      </div>
      <div id="guaxiang"></div>
</div>