<div class="hero-unit">
    <form class="form-horizontal">
        <div class="input-append">
        <select>
        <option selected="selected" value="壬山丙向">壬山丙向</option>
        <option value="子山午向">子山午向</option>
        <option value="癸山丁向">癸山丁向</option>
        <option value="────">────</option>
        <option value="丑山未向">丑山未向</option>
        <option value="艮山坤向">艮山坤向</option>
        <option value="寅山申向">寅山申向</option>
        <option value="────">────</option>
        <option value="甲山庚向">甲山庚向</option>
        <option value="卯山酉向">卯山酉向</option>
        <option value="乙山辛向">乙山辛向</option>
        <option value="────">────</option>
        <option value="辰山戌向">辰山戌向</option>
        <option value="巽山乾向">巽山乾向</option>
        <option value="巳山亥向">巳山亥向</option>
        <option value="────">────</option>
        <option value="丙山壬向">丙山壬向</option>
        <option value="午山子向">午山子向</option>
        <option value="丁山癸向">丁山癸向</option>
        <option value="────">────</option>
        <option value="未山丑向">未山丑向</option>
        <option value="坤山艮向">坤山艮向</option>
        <option value="申山寅向">申山寅向</option>
        <option value="────">────</option>
        <option value="庚山甲向">庚山甲向</option>
        <option value="酉山卯向">酉山卯向</option>
        <option value="辛山乙向">辛山乙向</option>
        <option value="────">────</option>
        <option value="戌山辰向">戌山辰向</option>
        <option value="乾山巽向">乾山巽向</option>
        <option value="亥山巳向">亥山巳向</option>

        </select>
        <select>
            <option value="一运">一运</option>
            <option value="二运">二运</option>
            <option value="三运">三运</option>
            <option value="四运">四运</option>
            <option value="五运">五运</option>
            <option value="六运">六运</option>
            <option value="七运">七运</option>
            <option selected="selected" value="八运">八运</option>
            <option value="九运">九运</option>
        </select>
        <select>
            <option value="挨星下卦">挨星下卦</option>
            <option value="挨星替卦">挨星替卦</option>
        </select>
        <button type="submit" class="btn btn-primary">飞星</button>
        
        </div>
    
    </form>
</div>