<div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a class="brand">{{title}}</a>
    <div class="nav-collapse collapse">
        <ul class="nav">
            {{#each pages}}
            <li><a href="{{this.link}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div><!--/.nav-collapse -->
</div>
    